In [ ]:
import warnings
warnings.filterwarnings('ignore')
import os

import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
%matplotlib inline

In [11]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LinearRegression


import tensorflow as tf
from tensorflow import keras

from sklearn import preprocessing

In [16]:
os.chdir("..")


weather_pd = pd.read_csv('weather_kinshasa.csv')

weather_pd.head()

,Name,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Conditions
0,"Kinshasa, République Démocratique du Congo",01/01/2021,85.7,73.7,78.8,NaN,92.8,0.0,0,0,8.2,157.46,NaN,5.3,47.4,83.98,Partially cloudy
1,"Kinshasa, République Démocratique du Congo",01/02/2021,77.0,71.6,74.0,NaN,NaN,0.0,0,0,9.2,172.38,NaN,5.1,49.2,90.80,Partially cloudy
2,"Kinshasa, République Démocratique du Congo",01/03/2021,84.2,71.6,77.1,NaN,89.6,0.0,0,0,6.9,165.24,NaN,5.3,30.1,82.95,Partially cloudy
3,"Kinshasa, République Démocratique du Congo",01/04/2021,89.7,73.7,80.1,NaN,96.4,0.0,0,0,6.9,182.18,NaN,5.6,29.8,76.97,Partially cloudy
4,"Kinshasa, République Démocratique du Congo",01/05/2021,91.4,73.7,82.1,NaN,98.7,0.0,0,0,7.6,187.62,NaN,5.5,32.7,73.93,Partially cloudy

In [17]:
weather_pd.columns

Index(['Name', 'Date time', 'Maximum Temperature', 'Minimum Temperature',
       'Temperature', 'Wind Chill', 'Heat Index', 'Precipitation', 'Snow',
       'Snow Depth', 'Wind Speed', 'Wind Direction', 'Wind Gust', 'Visibility',
       'Cloud Cover', 'Relative Humidity', 'Conditions'],
      dtype='object')

In [18]:
weather_pd.shape

(36, 17)

In [20]:
weather_pd.describe()

,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity
count,36.000000,36.000000,36.000000,0.0,34.000000,36.000000,36.0,36.0,36.000000,36.000000,0.0,36.000000,36.000000,36.000000
mean,87.694444,73.125000,79.236111,NaN,95.050000,0.224444,0.0,0.0,10.200000,202.521944,NaN,5.566667,41.144444,78.295000
std,4.063141,1.578856,2.098864,NaN,4.157961,0.909909,0.0,0.0,3.788102,30.062502,NaN,0.188225,8.287079,4.538782
min,75.500000,68.300000,74.000000,NaN,84.600000,0.000000,0.0,0.0,5.800000,130.950000,NaN,5.100000,27.200000,70.030000
25%,86.000000,71.800000,78.225000,NaN,92.200000,0.000000,0.0,0.0,8.100000,180.582500,NaN,5.500000,35.175000,75.702500
50%,88.550000,73.550000,79.800000,NaN,95.300000,0.000000,0.0,0.0,9.200000,209.085000,NaN,5.600000,41.750000,77.125000
75%,89.700000,73.700000,80.525000,NaN,98.125000,0.000000,0.0,0.0,10.650000,224.855000,NaN,5.625000,47.650000,80.287500
max,95.000000,75.200000,83.300000,NaN,102.600000,3.940000,0.0,0.0,25.300000,267.500000,NaN,6.000000,59.400000,90.800000

In [21]:
weather_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 17 columns):
Name                   36 non-null object
Date time              36 non-null object
Maximum Temperature    36 non-null float64
Minimum Temperature    36 non-null float64
Temperature            36 non-null float64
Wind Chill             0 non-null float64
Heat Index             34 non-null float64
Precipitation          36 non-null float64
Snow                   36 non-null int64
Snow Depth             36 non-null int64
Wind Speed             36 non-null float64
Wind Direction         36 non-null float64
Wind Gust              0 non-null float64
Visibility             36 non-null float64
Cloud Cover            36 non-null float64
Relative Humidity      36 non-null float64
Conditions             36 non-null object
dtypes: float64(12), int64(2), object(3)
memory usage: 4.9+ KB

In [23]:
weather_pd.isnull().any()

Name                   False
Date time              False
Maximum Temperature    False
Minimum Temperature    False
Temperature            False
Wind Chill              True
Heat Index              True
Precipitation          False
Snow                   False
Snow Depth             False
Wind Speed             False
Wind Direction         False
Wind Gust               True
Visibility             False
Cloud Cover            False
Relative Humidity      False
Conditions             False
dtype: bool

In [24]:
weather_pd.isnull().all()

Name                   False
Date time              False
Maximum Temperature    False
Minimum Temperature    False
Temperature            False
Wind Chill              True
Heat Index             False
Precipitation          False
Snow                   False
Snow Depth             False
Wind Speed             False
Wind Direction         False
Wind Gust               True
Visibility             False
Cloud Cover            False
Relative Humidity      False
Conditions             False
dtype: bool

In [25]:
round(100*(weather_pd.isnull().sum()/len(weather_pd.index)),2)

Name                     0.00
Date time                0.00
Maximum Temperature      0.00
Minimum Temperature      0.00
Temperature              0.00
Wind Chill             100.00
Heat Index               5.56
Precipitation            0.00
Snow                     0.00
Snow Depth               0.00
Wind Speed               0.00
Wind Direction           0.00
Wind Gust              100.00
Visibility               0.00
Cloud Cover              0.00
Relative Humidity        0.00
Conditions               0.00
dtype: float64

In [27]:
weather_pd['Wind Chill'].value_counts()

Series([], Name: Wind Chill, dtype: int64)

In [28]:
weather_pd['Heat Index'].value_counts()

94.2     4
100.3    2
95.6     2
93.8     1
84.6     1
92.0     1
96.0     1
95.0     1
96.5     1
98.2     1
98.4     1
86.2     1
100.4    1
89.6     1
96.4     1
93.6     1
91.9     1
90.3     1
100.2    1
90.6     1
97.6     1
97.9     1
92.8     1
98.7     1
100.6    1
96.3     1
102.6    1
91.4     1
91.5     1
Name: Heat Index, dtype: int64

In [29]:
weather_pd['Wind Gust'].value_counts()

Series([], Name: Wind Gust, dtype: int64)

In [30]:
weather_pd.loc[weather_pd['Heat Index'].isnull(), 'Heat Index'] = 94.2

In [31]:
weather_pd.isnull().any()

Name                   False
Date time              False
Maximum Temperature    False
Minimum Temperature    False
Temperature            False
Wind Chill              True
Heat Index             False
Precipitation          False
Snow                   False
Snow Depth             False
Wind Speed             False
Wind Direction         False
Wind Gust               True
Visibility             False
Cloud Cover            False
Relative Humidity      False
Conditions             False
dtype: bool

In [32]:
round(100*(weather_pd.isnull().sum()/len(weather_pd.index)),2)

Name                     0.0
Date time                0.0
Maximum Temperature      0.0
Minimum Temperature      0.0
Temperature              0.0
Wind Chill             100.0
Heat Index               0.0
Precipitation            0.0
Snow                     0.0
Snow Depth               0.0
Wind Speed               0.0
Wind Direction           0.0
Wind Gust              100.0
Visibility               0.0
Cloud Cover              0.0
Relative Humidity        0.0
Conditions               0.0
dtype: float64

In [33]:
weather_pd.loc[weather_pd['Wind Chill'].isnull(), 'Wind Chill'] = 0
weather_pd.loc[weather_pd['Wind Gust'].isnull(), 'Wind Gust'] = 0

In [34]:
round(100*(weather_pd.isnull().sum()/len(weather_pd.index)),2)

Name                   0.0
Date time              0.0
Maximum Temperature    0.0
Minimum Temperature    0.0
Temperature            0.0
Wind Chill             0.0
Heat Index             0.0
Precipitation          0.0
Snow                   0.0
Snow Depth             0.0
Wind Speed             0.0
Wind Direction         0.0
Wind Gust              0.0
Visibility             0.0
Cloud Cover            0.0
Relative Humidity      0.0
Conditions             0.0
dtype: float64

In [38]:
weather_pd_num =weather_pd[list(weather_pd.dtypes[weather_pd.dtypes != 'object'].index)]

In [41]:
weather_y = weather_pd_num.pop('Temperature')
weather_x = weather_pd_num

In [42]:
train_x,test_x, train_y, test_y = train_test_split(weather_x,weather_y,test_size = 0.2, random_state= 4)

In [43]:
train_x.head()

,Maximum Temperature,Minimum Temperature,Wind Chill,Heat Index,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity
2,84.2,71.6,0.0,89.6,0.0,0,0,6.9,165.24,0.0,5.3,30.1,82.95
24,87.8,75.2,0.0,94.2,0.0,0,0,8.2,176.18,0.0,5.7,42.7,77.78
11,87.8,73.7,0.0,95.6,0.0,0,0,8.8,221.75,0.0,5.6,45.2,79.11
19,89.7,71.8,0.0,96.5,0.0,0,0,7.2,191.86,0.0,5.6,37.0,76.76
30,89.3,68.3,0.0,97.6,0.0,0,0,13.2,227.96,0.0,5.2,49.1,82.02

In [44]:

model = LinearRegression()
model.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
prediction = model.predict(test_x)

In [47]:
# Error estimation

np.mean((prediction - test_y)**2)

0.4122668441819317

In [48]:
pd.DataFrame({'actual': test_y,
              'prediction': prediction,
            'Diff': (test_y - prediction)})

    actual  prediction      Diff
15    79.8   79.760627  0.039373
22    76.8   77.767652 -0.967652
17    80.9   80.308236  0.591764
20    79.4   79.996739 -0.596739
34    81.0   80.834799  0.165201
16    80.6   81.652435 -1.052435
29    75.3   74.669082  0.630918
21    80.1   80.447828 -0.347828